{% extends 'base.html' %}

{% block conteudo %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Categoria</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/newcategoria/" method="POST">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                      <label>Nome categoria:</label><br>
                        {{ form.as_p}}
                  </div>

                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary" role="button"  >Salvar </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}